/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.rdwt-admin-wrap .postbox h2 {
  border-bottom: 1px solid #777;
  margin: 0;
  padding: 12px 10px;
}

.rdwt-admin-wrap .postbox .footer,
.rdwt-admin-wrap .postbox .overview {
  margin: 0;
  padding: 0 10px;
}

.rdwt-admin-wrap .postbox table {
  border: 0px;
}
