<?xml version="1.0"?>
<ruleset name="Rdev WP Tools - Wordpress">
	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg value="s" /><!-- Show sniff codes in all reports -->

	<config name="testVersion" value="6.0-" />
	<file>.</file>

	<rule ref="Generic.WhiteSpace.ScopeIndent">
		<properties>
			<property name="indent" value="4"/>
			<property name="tabIndent" value="false"/>
		</properties>
	</rule>
	<rule ref="Generic.WhiteSpace.DisallowTabIndent" />

	<rule ref="WordPress">
		<exclude name="Generic.WhiteSpace.DisallowSpaceIndent" />
	</rule>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName" />
	</rule>

	<rule ref="WordPress-Docs"></rule>

</ruleset>
